/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2711";
    
    fragment@0 {
        target-path = "/";
        __overlay__ {
            pwm@7e20c000 {
                compatible = "brcm,bcm2835-pwm";
                reg = <0x7e20c000 0xa8>;
                clocks = <&clocks 30>;
                status = "okay";
            };
        };
    };
};
